html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Memo
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
    style.
      #id {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      }
      hr {
      border:none;
      }
      .mdl-card {
      width: 90%
      }
  body
    // Simple header with fixed tabs.
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Memo
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
            label.mdl-button.mdl-js-button.mdl-button--icon(for='fixed-header-drawer-exp')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#fixed-header-drawer-exp.mdl-textfield__input(type='text', name='sample')
        .mdl-layout__tab-bar.mdl-js-ripple-effect
          a.mdl-layout__tab.is-active(href='#fixed-tab-1') 메모
          a.mdl-layout__tab(href='#fixed-tab-2') 식단
          a.mdl-layout__tab(href='#fixed-tab-3') 버스시간
      //
        <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">메뉴</span>
        <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">내보내기</a>
        <a class="mdl-navigation__link" href="#">동기화</a>
        <a class="mdl-navigation__link" href="#">로그아웃</a>
        </nav>
        </div>
      main.mdl-layout__content
        section#fixed-tab-1.mdl-layout__tab-panel.is-active
          .page-content
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text 오픈소스SW개발
              .mdl-card__supporting-text
                | 오픈소스 소프트웨어 및 라이브러리를 활용하여 오픈소스 소프트웨어를...
              .mdl-card__actions.mdl-card--border
                button#show-info.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                  | 내용보기
            .dialog-container(style='position: relative;\
            width: 90%;\
            margin: 10% auto;\
            z-index: 99999;\
            padding: 16px 16px 0;')
              .mdl-card.mdl-grid.mdl-shadow--16dp
                h5 오픈소스SW개발
                p
                  | 오픈소스 소프트웨어 및 라이브러리를 활용하여 오픈소스 소프트웨어를 개발합니다. 다양한 오픈소스 태크놀러지 스택들을 소개하고 기본적인 사용법을 알아봅니다. 프로젝트 기반의 수업을 통해 수업시간에 다룬 오픈소스 프로젝트 및 기술들을 선택하고 조합하여 자신만의 태크 스택을 설계합니다.
                p
                  | 2017.03.21
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text OSS Web frontends: ES6-based frameworks
              .mdl-card__supporting-text
                | Concept of WebComponents / Polymer / React / electron as...
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                  | 내용보기
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text OSS Web backends
              .mdl-card__supporting-text
                | node.js / Django / Codeigniter * Learn by run: Prototyping...
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                  | 내용보기
          // Colored FAB button with ripple
          a#id.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/new')
            i.material-icons add
        section#fixed-tab-2.mdl-layout__tab-panel
          .page-content
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text [특식] 소고기장터국밥&당면사리, 푸실리오리엔탈샐러드, 깍두기
              .mdl-card__supporting-text
                | 3,000원
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text [특식] 백선생짜글이&스크램블에그비빔밥, 두부미소장국, 푸실리오리엔탈샐러드, 깍두기
              .mdl-card__supporting-text
                | 3,500원
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text [양식] 치즈돈까스&추가밥&허니버터감자튀김, 두부미소장국, 푸실리오리엔탈샐러드, 깍두기
              .mdl-card__supporting-text
                | 3,500원
        section#fixed-tab-3.mdl-layout__tab-panel
          .page-content
            hr
            .mdl-card.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
              table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(style='width: 100%;')
                thead
                  tr
                    th 번호
                    th 출발 시간
                    th 남은 시간
                tbody
                  tr
                    td 1
                    td 07:40
                    td
                      span#Countdown1.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 7
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 2
                    td 07:50
                    td
                      span#Countdown2.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 7
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 3
                    td 08:00
                    td
                      span#Countdown3.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 7
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 4
                    td 08:10
                    td
                      span#Countdown4.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 5
                    td 08:20
                    td
                      span#Countdown5.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 6
                    td 08:25
                    td
                      span#Countdown6.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 7
                    td 08:30
                    td
                      span#Countdown7.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 8
                    td 08:33
                    td
                      span#Countdown8.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 9
                    td 08:36
                    td
                      span#Countdown9.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 10
                    td 08:39
                    td
                      span#Countdown10.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 11
                    td 08:42
                    td
                      span#Countdown11.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 12
                    td 08:45
                    td
                      span#Countdown12.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 13
                    td 08:48
                    td
                      span#Countdown13.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 14
                    td 08:51
                    td
                      span#Countdown14.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 15
                    td 08:54
                    td
                      span#Countdown15.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 16
                    td 08:57
                    td
                      span#Countdown16.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 17
                    td 09:00
                    td
                      span#Countdown17.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 8
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 18
                    td 09:05
                    td
                      span#Countdown18.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 19
                    td 09:10
                    td
                      span#Countdown19.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 20
                    td 09:15
                    td
                      span#Countdown20.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 21
                    td 09:20
                    td
                      span#Countdown21.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 22
                    td 09:25
                    td
                      span#Countdown22.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 23
                    td 09:30
                    td
                      span#Countdown23.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 24
                    td 09:33
                    td
                      span#Countdown24.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 25
                    td 09:36
                    td
                      span#Countdown25.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 26
                    td 09:39
                    td
                      span#Countdown26.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 27
                    td 09:42
                    td
                      span#Countdown27.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 28
                    td 09:45
                    td
                      span#Countdown28.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 29
                    td 09:48
                    td
                      span#Countdown29.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 30
                    td 09:51
                    td
                      span#Countdown30.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 31
                    td 09:54
                    td
                      span#Countdown31.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 32
                    td 09:57
                    td
                      span#Countdown32.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 33
                    td 10:00
                    td
                      span#Countdown33.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 9
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 34
                    td 10:05
                    td
                      span#Countdown34.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 10
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 35
                    td 10:10
                    td
                      span#Countdown35.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 10
                            span.countdown-period 시간
                      |  후 도착 예정
                  tr
                    td 36
                    td 10:20
                    td
                      span#Countdown36.is-countdown
                        span.countdown-row.countdown-show1
                          span.countdown-section
                            span.countdown-amount 10
                            span.countdown-period 시간
                      |  후 도착 예정
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type='text/javascript').
      var lorem = '오픈소스 소프트웨어 및 라이브러리를 활용하여 오픈소스 소프트웨어를 개발합니다. 다양한 오픈소스 태크놀러지 스택들을 소개하고 기본적인 사용법을 알아봅니다. 프로젝트 기반의 수업을 통해 수업시간에 다룬 오픈소스 프로젝트 및 기술들을 선택하고 조합하여 자신만의 태크 스택을 설계합니다.';
      $('#show-info').click(function () {
      showDialog({
      title: '오픈소스SW개발',
      text: lorem
      })
      });
      /* library */
      function showLoading() {
      // remove existing loaders
      $('.loading-container').remove();
      $('<div id="orrsLoader" class="loading-container"><div><div class="mdl-spinner mdl-js-spinner is-active"></div></div></div>').appendTo("body");
      componentHandler.upgradeElements($('.mdl-spinner').get());
      setTimeout(function () {
      $('#orrsLoader').css({opacity: 1});
      }, 1);
      }
      function hideLoading() {
      $('#orrsLoader').css({opacity: 0});
      setTimeout(function () {
      $('#orrsLoader').remove();
      }, 400);
      }
      function showDialog(options) {
      options = $.extend({
      id: 'orrsDiag',
      title: null,
      text: null,
      negative: false,
      positive: false,
      cancelable: true,
      contentStyle: null,
      onLoaded: false
      }, options);
      // remove existing dialogs
      $('.dialog-container').remove();
      $(document).unbind("keyup.dialog");
      $('<div id="' + options.id + '" class="dialog-container"><div class="mdl-card mdl-shadow--16dp"></div></div>').appendTo("body");
      var dialog = $('#orrsDiag');
      var content = dialog.find('.mdl-card');
      if (options.contentStyle != null) content.css(options.contentStyle);
      if (options.title != null) {
      $('<h5>' + options.title + '</h5>').appendTo(content);
      }
      if (options.text != null) {
      $('<p>' + options.text + '</p>').appendTo(content);
      }
      if (options.negative || options.positive) {
      var buttonBar = $('<div class="mdl-card__actions dialog-button-bar"></div>');
      if (options.negative) {
      options.negative = $.extend({
      id: 'negative',
      title: 'Cancel',
      onClick: function () {
      return false;
      }
      }, options.negative);
      var negButton = $('<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="' + options.negative.id + '">' + options.negative.title + '</button>');
      negButton.click(function (e) {
      e.preventDefault();
      if (!options.negative.onClick(e))
      hideDialog(dialog)
      });
      negButton.appendTo(buttonBar);
      }
      if (options.positive) {
      options.positive = $.extend({
      id: 'positive',
      title: 'OK',
      onClick: function () {
      return false;
      }
      }, options.positive);
      var posButton = $('<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="' + options.positive.id + '">' + options.positive.title + '</button>');
      posButton.click(function (e) {
      e.preventDefault();
      if (!options.positive.onClick(e))
      hideDialog(dialog)
      });
      posButton.appendTo(buttonBar);
      }
      buttonBar.appendTo(content);
      }
      componentHandler.upgradeDom();
      if (options.cancelable) {
      dialog.click(function () {
      hideDialog(dialog);
      });
      $(document).bind("keyup.dialog", function (e) {
      if (e.which == 27)
      hideDialog(dialog);
      });
      content.click(function (e) {
      e.stopPropagation();
      });
      }
      setTimeout(function () {
      dialog.css({opacity: 1});
      if (options.onLoaded)
      options.onLoaded();
      }, 1);
      }
      function hideDialog(dialog) {
      $(document).unbind("keyup.dialog");
      dialog.css({opacity: 0});
      setTimeout(function () {
      dialog.remove();
      }, 400);
      }
